@green5: #153028;
@green4: #004D48;
@green3: #006855;
@navBar: #759197;
@btnGreen: #009445;
@bhoverGreen: #002219;

body {
  h1,h5 {
    color: white;
  }
  .title {
    color: white;
    font-weight: 100;
    font-size: x-large;
  }
  .header {
    background-color: @green4;
    height: 100%;
    width: 100%;
    .top-bar{
      padding-bottom: 120px;
      background-color: @green3;
    }
    .actions {
      position: absolute;
      right: 15px;
      top: 15px;
      @media(max-width: 767px) {
        position: static;
        margin: 30px auto;
        text-align: center;
      }
    .btn {
      background-color: @btnGreen;
      display: inline-block;
      color: white;
      transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      .fa {
        display: inline;
      }
      &:hover{
         background-color: @bhoverGreen;
         color: white;
         box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
       }
    }
  }
    .connect {
      @media(max-width: 767px) {
        margin: 0 auto;
        text-align: center;
      }
      a {
      color: rgba(255, 255, 255, 0.8);
      display: inline-block;
      text-align: center;
      width: 32px;
      height: 32px;
      margin-top: 10px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      transition: all 0.5s;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      font-size: 16px;
      border: 2px solid rgba(255, 255, 255, 0.8);
      padding-top: 3px;
      .fa {
      margin-right: 5px;
      width: 28px;
      color: inherit;
      height: 28px;
      display: inline-block;
      }
      &:hover {
        color: #fff;
        border-color: #fff;
        border: 2px solid;
      }
    }
  }
    .intro {
      position: relative;
      top: -100px;
      .profile-image {
        border-radius: 50%;
        height: 200px;
        width: 200px;
      }
    }
    .contact {
      background-color: @green5;
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 16px;
      ul {
        margin-bottom: 0px;
        // white-space: nowrap;
        li {
          margin-right: 30px;
          margin-bottom: 10px;
          // display: inline-block;
          text-align: -webkit-match-parent;
          color: rgba(255, 255, 255, 0.8);
          a {
            width: 100%;
            color: rgba(255,255,255,0.5);
            transition-duration: 0.5s;
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
            -ms-transition-duration: 0.5s;
          }
          a:hover {
            color: #fff;
          }
          .fa {
            margin-right: 10px;
            width: 28px;
          }
        }
      }
    }
    .page-nav-space-holder {
      @media (min-width: 768px) {
        .navbar .navbar-nav {
            display: inline-block;
            float: none;
            vertical-align: top;
        }
        .navbar .navbar-collapse {
            text-align: center;
        }
      }
    }
  }
}
