/* ======= Base ======= */
body {
    font-family: 'Lato', sans-serif;
    color: #666;
    background: #f5f5f5;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #444;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}
a {
    color: #421414;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
a:hover {
    text-decoration: underline;
    color: #421414;
}
a:focus {
    text-decoration: none;
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p {
    line-height: 1.5;
}
.btn,
a.btn {
    background: #421414;
    color: #fff;
    padding: 8px 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}
.btn:hover,
a.btn:hover {
    color: #fff;
    background: #7d2a2a;
}
#topcontrol {
    display:none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background: #421414;
    color: #fff;
    text-align: center;
    z-index: 30;
    width: 36px;
    height: 36px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}
#topcontrol:hover {
    background: #421414;
    color: #fff;
}
#topcontrol .fa {
    position: relative;
    top: 3px;
    font-size: 25px;
    font-weight: normal;
}

.left {
    text-align: left;
}
.right{
    text-align: right;
}
/* ======= COLOURS ======= */
.white {
    color: white;
}
.black {
    color: black;
}

/* ======= HEADER ======= */
.header {
    background: #833a3a;
    color: #fff;
}
.header a {
    color: #fff;
}
.header .top-bar {
    position: relative;
    padding-top: 15px;
    padding-bottom: 120px;
}
.header .social {
    margin-bottom: 0;
}
.header .social a {
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding-top: 2px;
    font-size: 16px;
    border: 2px solid rgba(255, 255, 255, 0.8);
}
.header .social a:hover {
    color: #fff;
    border-color: #fff;
}
.header .actions {
    position: absolute;
    right: 15px;
    top: 15px;
}
.header .actions .fa {
    margin-right: 5px;
}
.header .actions a {
    margin-right: 10px;
    color: #fff;
}
.header .actions a:last-child {
    margin-right: 0;
}
.header .profile-image {
    position: absolute;
    width: 160px;
    height: 160px;
    top: -80px;
    margin-left: -80px;
    left: 50%;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.header .name {
    font-size: 48px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}
.header .title {
    font-size: 28px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
}
.header .intro {
    background: #4e1616;
    padding-top: 90px;
    padding-bottom: 60px;
    position: relative;
    font-size: 16px;
}
.header .profile {
    max-width: 820px;
    margin: 0 auto;
}
.header .contact-info {
    background: #833a3a;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
}
.header .contact-info ul {
    margin-bottom: 0;
}
.header .contact-info li {
    margin-right: 30px;
    color: rgba(255, 255, 255, 0.8);
}
.header .contact-info li a {
    color: rgba(255, 255, 255, 0.8);
}
.header .contact-info li a:hover {
    color: #fff;
}
.header .contact-info li:last-child {
    margin-right: 0;
}
.header .contact-info li .fa {
    margin-right: 10px;
}
/* ======= Page Nav ======= */
.page-nav-space-holder {
    height: 60px;
}
.page-nav-wrapper {
    background: #431717;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.page-nav-wrapper.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.page-nav-wrapper a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-weight: 500;
}
.page-nav-wrapper .page-nav {
    margin: 0 auto;
    display: inline-block;
}
.page-nav-wrapper .page-nav li {
    margin-right: 30px;
    display: inline-block;
    background: none;
}
.page-nav-wrapper .page-nav li:hover,
.page-nav-wrapper .page-nav li:active {
    background: none;
}
.page-nav-wrapper .page-nav li.active a {
    color: #fff;
    background: none;
}
.page-nav-wrapper .page-nav li a {
    color: rgba(255, 255, 255, 0.6);
    padding: inherit;
}
.page-nav-wrapper .page-nav li a:hover {
    color: #fff;
}
.page-nav-wrapper .page-nav li a:hover,
.page-nav-wrapper .page-nav li a:active,
.page-nav-wrapper .page-nav li a:focus {
    background: none;
}
.page-nav-wrapper .page-nav li:last-child {
    margin-right: 0;
}
.wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
}
.section {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    padding: 45px;
    background: #fff;
    margin-bottom: 45px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.section:last-child {
    margin-bottom: 0;
}
.section-title {
    margin-top: 0;
    margin-bottom: 45px;
    font-size: 24px;
    text-align: center;
}
/* ======= Work ======= */
.timeline {
    border-left: 3px solid #421414;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
    padding: 0 30px;
    margin-left: 280px;
}
.timeline .item {
    position: relative;
    margin-bottom: 45px;
    margin-top: 70px;
}
.timeline .item:last-child {
    margin-bottom: 0;
}
.timeline .item:before {
    content: "";
    position: absolute;
    left: -43px;
    top: 0;
    display: inline-block;
    width: 22px;
    height: 22px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #fff;
    border: 3px solid #421414;
}
.timeline .item:after {
    content: "";
    position: absolute;
    left: -36.6px;
    top: 6px;
    display: inline-block;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #421414;
    z-index: 10;
}
.timeline:after{
    content:"";
    position: relative;
    left: -41px;
    bottom: -5px;
    display: inline-block;
    width: 20px;
    height: 5px;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
    border-radius: 0%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #421414;
    z-index: 10;
}
.timeline .work-place {
    position: relative;
    overflow: hidden;
    width:100%;
}

.timeline .work-logo {
    position: relative;
    height:auto;
    float: left;
    width: 40%;
    max-width: 300px;
    max-height: 125px;
}

.timeline .work-logo-left {
    margin-top: 16px;
    margin-bottom: 16px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .timeline .work-logo-left {
        position: absolute;
        right:0;
        top:0;
    }
    .timeline .work-logo {
        float: right;
    }
}
@media (max-width: 500px) {
    .timeline .work-logo-left {
        position: relative;
        right:0;
    }
    .timeline .work-logo {
        float: left;
    }
}

.timeline .location {
    text-align: right;
    float:right;
    color: #8a8a8a;
}
@media (max-width: 767px) {
    .timeline .location {
        float: left;
    }
}
@media (max-width: 385px) {
    .timeline .location {
        text-align: start;
    }
    .timeline ul {
        -webkit-padding-start: 0;
    }
}
.timeline .location .fa {
    margin-right: 5px;
}
.timeline .place {
    margin-top: 0;
    font-size: 20px;
    font-weight: 300;
    overflow-wrap: break-word;
}
.timeline .job-meta {
    position: absolute;
    left: -280px;
    top: 0;
}
.timeline .job-meta .title {
    font-size: 18px;
    color: #421414;
    overflow-wrap: break-word;
}
.timeline .job-meta .time {
    color: #8a8a8a;
}
.timeline .job-desc {
    color: #666;
}

/* ======= EDUCATION ======= */
.education-section .item {
    margin-bottom: 45px;
}
.education-section .item-inner {
    padding: 0 30px;
}
.education-section li {
    list-style-position: inside;
    list-style: none;
    margin: 5px;
}
.education-section li a{
    text-decoration: underline;
}
.education-section li a:visited{
    color: white;
}
.education-section li a:hover{
    color: rgb(200,200,200);
}

.education-section .degree {
    font-size: 25px;
    color: #421414;
    margin-top: 0;
    margin-bottom: 0px;
}
.education-section .university-body {
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 300;
}
.education-section .time {
    color: #8a8a8a;
    margin-bottom: 15px;
}
.university{
    width:100%;
    height:100%;
    overflow:hidden;
}
.university-shield {
    width:100%;
    max-width:100px;
}
.unviersity-meta {
    width:75%;
    float:right;
}
.education-section .desc {
    color: #666;
}

.education-body .awards {
    background: #1E417B;
    color: white;
    box-shadow: 0 5px 5px rgba(0,0,0,0.4);
    padding: 10px;
}

.education-body .awards li {
    margin-top: 25px;
    padding-right: 25px;
}
.education-body .activities {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    padding: 10px;
}
@media (max-width: 767px) {
    .education-body ul {
        padding-left: 10px;
    }
}
@media (min-width: 992px) {
    .education-category-holder {
        padding: 5px;
    }
    .education-category {
        height: 250px;
    }
}
.hackpsu-logo {
    max-width: 50px;
    transition: all 0.5s linear;
}
.hackpsu-logo:hover {
    transform:scale(1.1, 1.1);
}
.carousel-inner li {
    text-align: left;
}
.carousel-fade .carousel-inner .item {
    transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-delay: 0.22s;
    transition-timing-function: ease-in-out;
}

.carousel-fade .carousel-inner  .item,
.active.left,
.active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.next.left,
.prev.right {
    opacity: 1;
}

.carousel-fade .carousel-inner .next,
.prev,
.active.left,
.active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.skills-section .subtitle {
    font-size: 18px;
    color: #8a8a8a;
    margin-top: 0;
    margin-bottom: 45px;
    font-weight: 300;
}
.skills-section .top-skills {
    margin-bottom: 60px;
}
.other-skills .misc-skills {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.skills-section .level {
    color: #8a8a8a;
    margin-bottom: 15px;
}
.skills-section .desc {
    color: #666;
}
.skills-section .skill-tag {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    padding: 6px 30px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #f5f5f5;
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 16px;
}

.chart {
    width: 110px;
    height: 110px;
    vertical-align: middle;
    position: relative;
    margin: 0 auto;
    margin-top: 16px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}
.chart span {
    line-height: 110px;
}
.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

/*========= PORTFOLIO =========*/
.portfolio-section .filters {
    list-style: none;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
}
.portfolio-section .filters .type {
    margin-right: 30px;
    list-style: none;
    display: inline-block;
    padding: 8px 15px;
    color: #8a8a8a;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}
.portfolio-section .filters .type:last-child {
    margin-right: 0;
}
.portfolio-section .filters .type.active {
    color: #421414;
    border-bottom: 2px solid #421414;
}
.portfolio-section .item {
    margin-bottom: 30px;
}
.portfolio-section .item-inner {
    background: #421414;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    height: 100%;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.portfolio-section .item-inner img {
    width: 100%;
}

.portfolio-section .item-inner:hover img {
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
}

.portfolio-section .item-inner .content {
    padding: 10px;
    padding-bottom: 15px;
    position: relative;
}
.portfolio-section .item-inner .content a {
    color: #fff;
}
.portfolio-section .item-inner .content .sub-title {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
}
.portfolio-section .item-inner .content .meta {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}
.portfolio-section .item-inner .content .action {
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.portfolio-section .item-inner .link-mask {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.portfolio-section .content-description {
    display: none;
}


.contact-section .intro {
    position: relative;
    padding: 30px;
    padding-left: 190px;
    font-size: 16px;
    color: #666;
}
.contact-section .intro .profile-image {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 30px;
}
.contact-section .intro p {
    margin-bottom: 15px;
}
.contact-section .service-list {
    margin-left: 30px;
    margin-bottom: 15px;
}
.contact-section .service-list li {
    margin-bottom: 15px;
}
.contact-section .service-list .fa {
    color: #421414;
}
.contact-section .social {
    margin-bottom: 0;
}
.contact-section .social li {
    margin-right: 10px;
}
.contact-section .social li:last-child {
    margin-right: 0;
}
.contact-section .social a {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    color: #8a8a8a;
}
.contact-section .social a:hover {
    color: #421414;
}
.footer .container {
    padding: 30px;
    color: #8a8a8a;
    letter-spacing: 0.5px;
}
.footer .container a {
    color: #8a8a8a;
}

.close-animatedModal {
    padding: 15px;
}

.closebt {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
}

.closebt:hover {
    transform: rotate(270deg);
}

.modal-container {
    padding: 16px;
}

.modal-container .portfolio-image {
    max-width: 100%;
    /*background-color: #565656;*/
    max-height: 156px;
}

.modal-container .modal-header {
    border-bottom: none;
}

.modal-container .modal-header .subtitle {
    color: #FFF;
}

.modal-container .modal-header .meta {
    color: #FFF;
}

.modal-container .modal-blurb {
    color: #FFF;
    font-size: large;
}

.modal-container .blurb-text {
    display: block;
}

@media (max-width: 425px) {
    .phone-hide {
        display: none;
    }

    .phone-show {
        display: inherit;
    }
}

@media (min-width: 426px) {
    .phone-hide {
        display: inherit;
    }

    .phone-show {
        display: none;
    }
}

.modal-container .modal-blurb .row {
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
}

.modal-container .platforms {
    margin-top: 25px;
    margin-bottom: 25px;
}


/*************** FORM ***************/
.hidden {
    display: none;
}
.font-sm{
    font-size: 12px;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .header .social {
        margin: 0 auto;
        text-align: center;
    }
    .header .actions {
        position: static;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
    }
    .header .actions .btn {
        margin-bottom: 15px;
        font-size: 12px;
        display: inline-block;
        width: 100%;
    }
    .header .actions .btn:last-child {
        margin-bottom: 0;
    }
    .header .name {
        font-size: 36px;
    }
    .header .title {
        font-size: 22px;
    }
    .header .contact-info li {
        margin-right: 0;
        margin-bottom: 15px;
        font-size: 14px;
        width: 100%;
        display: inline-block;
    }
    .header .contact-info li:last-child {
        margin-bottom: 0;
    }
    .section {
        padding: 30px;
    }
    .section-title {
        font-size: 20px;
    }
    .timeline {
        margin-left: 0;
        padding-right: 0;
    }
    .timeline .place {
        margin-bottom: 5px;
    }
    .timeline .job-meta {
        position: static;
        margin-bottom: 15px;
    }
    .education-section .item {
        padding: 0;
    }
    .portfolio-section .filters .type {
        font-size: 12px;
        margin-right: 5px;
        padding: 8px 5px;
        -webkit-padding-start: 0;
    }
    .portfolio-section .item-inner .content {
        padding: 15px;
    }
    .portfolio-section .item-inner .content .sub-title {
        font-size: 14px;
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .portfolio-section .item-inner .content .meta {
        margin-bottom: 30px;
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .portfolio-section .item-inner .content .action {
        position: static;
        font-size: 12px;
    }
    .contact-section .intro {
        padding: 0;
        text-align: center;
    }
    .contact-section .intro .profile-image {
        position: static;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
    }
    .contact-section .service-list {
        margin-left: 0;
    }
    .contact-section .social {
        margin: 0 auto;
    }
}